@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
  }
  40% {
      transform: translateY(-30px);
  }
  60% {
      transform: translateY(-15px);
  }
}



@font-face {
  font-family: 'Light';
  src: url('../fonts/Barlow-Light.ttf');
}



@font-face {
  font-family: 'Regular';
  src: url('../fonts/Barlow-Regular.ttf');
}


@font-face {
  font-family: 'bold';
  src: url('../fonts/Barlow-Bold.ttf');
}

.exterBold {
  font-family: 'ExterBold';
  /* background-color:red; */
}

.SemiBold {
  font-family: 'SemiBold';
  /* background-color:red; */
}

.light {
  font-family: 'Light';
  /* background-color:red; */
}

.bold {
  font-family: 'bold';
}

.Regular {
  font-family: 'Regular';
}

.Medium {
  font-family: 'Medium';
}

/* @media (min-width: 1024px) and (max-width: 1200px) {
  .tables {
    max-width: 800px;
  }
} */
